In [2]:
import pandas as pd 

activity = pd.read_csv('BigContest/train_activity.csv')

combat = pd.read_csv('BigContest/train_combat.csv')

label = pd.read_csv('BigContest/train_label.csv')
payment = pd.read_csv('BigContest/train_payment.csv')
pledge = pd.read_csv('BigContest/train_pledge.csv')
trade = pd.read_csv('BigContest/train_trade.csv')

In [3]:
combat.head()

,day,acc_id,char_id,server,class,level,pledge_cnt,random_attacker_cnt,random_defender_cnt,temp_cnt,same_pledge_cnt,etc_cnt,num_opponent
0,1,13809,54861,ap,2,13,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
1,1,13809,256332,ap,2,13,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
2,1,13809,307293,ap,3,14,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
3,1,13809,374964,ap,7,16,0.0,0.0,0.0,0.0,0.0,0.112612,0.098129
4,1,13809,117917,ap,2,11,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000

In [4]:
combat.dtypes

day                      int64
acc_id                   int64
char_id                  int64
server                  object
class                    int64
level                    int64
pledge_cnt             float64
random_attacker_cnt    float64
random_defender_cnt    float64
temp_cnt               float64
same_pledge_cnt        float64
etc_cnt                float64
num_opponent           float64
dtype: object

In [5]:
jobs_class=['king','knight','fairy','wizard','Delf','dragonK','witch','fighter'] # 만들고자 하는 df 변수명리스트
for i,v in enumerate(jobs_class): # i:변수명 리스트 index , v: 변수명 리스트 value
      globals()[v] = combat[combat['class']==i ]

In [13]:
knight.head()

,day,acc_id,char_id,server,class,level,pledge_cnt,random_attacker_cnt,random_defender_cnt,temp_cnt,same_pledge_cnt,etc_cnt,num_opponent
7,1,62835,179366,am,1,14,0.0,0.0,0.0,0.0,0.0,0.000000,0.00000
18,1,16629,149458,ae,1,6,0.0,0.0,0.0,0.0,0.0,0.000000,0.00000
19,1,10931,236388,an,1,17,0.0,0.0,0.0,0.0,0.0,0.000000,0.00000
22,1,115006,21515,bd,1,12,0.0,0.0,0.0,0.0,0.0,1.013504,0.78503
27,1,128300,187302,av,1,17,0.0,0.0,0.0,0.0,0.0,0.000000,0.00000

In [16]:
# %matplotlib inline
from preamble import *
plt.rcParams['image.cmap'] = "gray"

ModuleNotFoundError: No module named 'preamble'