## Day2 가설 : 막피 당한 유저는 이탈률이 높을까?

In [1]:
import pandas as pd

In [2]:
combat = pd.read_csv('BigContest/train_combat.csv')

In [3]:
combat.dtypes

day                      int64
acc_id                   int64
char_id                  int64
server                  object
class                    int64
level                    int64
pledge_cnt             float64
random_attacker_cnt    float64
random_defender_cnt    float64
temp_cnt               float64
same_pledge_cnt        float64
etc_cnt                float64
num_opponent           float64
dtype: object

In [4]:
# 날짜, 유저, 캐릭터, 막피 공격 받은 횟수
rnd_defen= combat[['day','acc_id','char_id','random_defender_cnt']]
rnd_defen

         day  acc_id  char_id  random_defender_cnt
0          1   13809    54861             0.000000
1          1   13809   256332             0.000000
2          1   13809   307293             0.000000
3          1   13809   374964             0.000000
4          1   13809   117917             0.000000
5          1   62835   129987             0.000000
6          1   62835    74659             0.000000
7          1   62835   179366             0.000000
8          1   62835   157318             0.000000
9          1   62835   394244             0.000000
10         1   54241   316971             0.000000
11         1   88683   299973             0.000000
12         1   80158   211359             1.183064
13         1   30386   309343             0.000000
14         1   30386    29625             0.000000
15         1   16629   311417             0.000000
16         1   16629    26567             0.000000
17         1   16629    53462             0.000000
18         1   16629   149458             0.000000
19         1   10931   236388             0.000000
20         1  115006   171038             0.000000
21         1  115006   217404             0.000000
22         1  115006    21515             0.000000
23         1     149   280049             0.000000
24         1     149   248148             0.000000
25         1   37405   109101             0.000000
26         1   64435   181773             0.000000
27         1  128300   187302             0.000000
28         1   74305   343563             0.000000
29         1   74305   130375             0.000000
...      ...     ...      ...                  ...
1574641   10   64877   283410             0.000000
1574642   10    4749    14676             0.000000
1574643   10    1998   361147             0.000000
1574644   10  100485   287275             0.000000
1574645   10   92179    27485             0.000000
1574646   10   92179   151719             0.000000
1574647   10   46126   252824             0.000000
1574648   10   90014     1296             0.000000
1574649   10   51495   214396             0.000000
1574650   10  109154    42053             0.000000
1574651   10    7837   154333             0.000000
1574652   10   80187   178223             0.000000
1574653   10   80187   389026             0.000000
1574654   10    6611   123392             0.000000
1574655   10   22399   282670             0.000000
1574656   10   66983   345916             1.183064
1574657   10   66983    11728             0.000000
1574658   10   66983   372053             1.183064
1574659   10   76321   327759             0.000000
1574660   10   76321   352802             0.000000
1574661   10   20624   364869             0.000000
1574662   10  106213   204048             1.183064
1574663   10   70406   135843             0.000000
1574664   10   99635   254772             0.000000
1574665   10   17661   128814             0.000000
1574666   10   21604   179760             0.000000
1574667   10   73622    36541             0.000000
1574668   10  104426    23384             0.000000
1574669   10   85674   111923             0.000000
1574670   10   11343    52069             0.000000

[1574671 rows x 4 columns]

In [5]:
# 막피 공격 받은 사람만
rnd_defen = rnd_defen[rnd_defen['random_defender_cnt']>0]
rnd_defen

         day  acc_id  char_id  random_defender_cnt
12         1   80158   211359             1.183064
31         1   36350    10163             1.183064
54         1   74587   338134             1.183064
68         1   99016    43078             2.366129
110        1  122168   219302             1.183064
164        1  101441   378751             3.549193
197        1   25924    64642             3.549193
198        1   89998   357055             1.183064
257        1  112506     3910             1.183064
265        1   92418   389423             1.183064
279        1  128586   217079             2.366129
357        1   28213   271618             5.915322
358        1     538   300207             1.183064
469        1   24028   184980             1.183064
540        1   28068   325745             1.183064
578        1  104141   387026             1.183064
597        1   74140   384632             1.183064
627        1   59921   299538             1.183064
637        1   58314   214882             2.366129
694        1   78300   138045             1.183064
696        1   90356   340453             2.366129
717        1   82976    50909             1.183064
820        1   29361   179202             1.183064
826        1    3231    33946             1.183064
859        1      98   205300             1.183064
996        1   91056    38874             1.183064
1016       1   99787   199851             1.183064
1045       1   52849     2855             1.183064
1071       1  103468   111893             2.366129
1073       1  130414    95122             1.183064
...      ...     ...      ...                  ...
1574443   10  120158    77961             9.464516
1574446   10   95282   217904             4.732258
1574448   10   19890   280262             5.915322
1574463   10   85691   162952             5.915322
1574465   10   84104   216616             1.183064
1574468   10   85557     6725             4.732258
1574469   10   62974    69237             2.366129
1574472   10   26653   367971             1.183064
1574478   10   42410   257594             1.183064
1574479   10   30877    99823             1.183064
1574483   10   90984   368404             3.549193
1574501   10   93660   298632             1.183064
1574507   10  120039     1839             3.549193
1574518   10  125353   350156             1.183064
1574522   10   19390   213923             3.549193
1574530   10   72157   326334             1.183064
1574560   10  122764   271828             1.183064
1574575   10   39292   278463             1.183064
1574576   10   81159    89464             1.183064
1574578   10   40946   174328             1.183064
1574583   10   59435    86035             1.183064
1574609   10   22284   150990             3.549193
1574613   10   19528   240696             1.183064
1574616   10  101758   145364             1.183064
1574623   10   34847    16802             1.183064
1574624   10   70480   162229             3.549193
1574634   10     155    89374             2.366129
1574656   10   66983   345916             1.183064
1574658   10   66983   372053             1.183064
1574662   10  106213   204048             1.183064

[77391 rows x 4 columns]

In [6]:
# 아이디, 날짜 순서로 내림차순 정렬
rnd_defen = rnd_defen.sort_values(['acc_id','day'],ascending=True)
rnd_defen

         day  acc_id  char_id  random_defender_cnt
785434    19       8   207949             1.183064
420848     7      17   135044             2.366129
1263070   28      20   149667             1.183064
1416488    6      31   346526             1.183064
1431113    9      31   346526             1.183064
1311618   11      31   346526             4.732258
1316730   12      31   346526             1.183064
1321617   13      31   346526             1.183064
1336288   16      31   346526             1.183064
1341129   17      31   346526             2.366129
1370640   22      31   346526             1.183064
1375643   23      31   346526             2.366129
1390982   26      31   346526             1.183064
938647     3      38    67497             1.183064
1015982   10      38    67497             1.183064
1529773   26      43   388134             1.183064
1222019    3      53    60446             1.183064
1278007    6      53    60446             4.732258
1182468   13      53    60446             1.183064
1187452   14      53    60446             1.183064
1197299   16      53    60446             1.183064
1202279   17      53    60446             1.183064
1231942   22      53    60446             1.183064
1236932   23      53    60446             1.183064
1242002   24      53    60446             1.183064
1247237   25      53    60446             1.183064
1252555   26      53    60446             1.183064
907169    14      54   317400             1.183064
962760    24      54   317400             1.183064
1284941    8      62   369719             1.183064
...      ...     ...      ...                  ...
1164811    1  130413   360163             1.183064
1169526    2  130413   360163             1.183064
1275126    5  130413   360163             1.183064
1299188   10  130413   360163             2.366129
1174419   11  130413   360163             1.183064
1179518   12  130413   360163             2.366129
1184410   13  130413   360163             1.183064
1189364   14  130413   360163             1.183064
1199205   16  130413   360163             1.183064
1233911   22  130413   360163             1.183064
1249269   25  130413   360163             1.183064
1073       1  130414    95122             1.183064
176172    14  130447   174980             1.183064
365700    21  130449   238395             1.183064
397526    27  130449   211697             1.183064
564051     6  130462   274672             1.183064
574501     8  130462   274672             2.366129
584999    10  130462   274672             2.366129
542600    27  130462   274672             1.183064
922049    17  130463    14261             2.366129
927117    18  130463    14261             2.366129
947166    21  130463   292737             1.183064
952360    22  130463   292737             2.366129
962728    24  130463   292737             1.183064
968009    25  130463   292737             1.183064
874647    10  130469     6255             1.183064
791526    20  130469   143384             1.183064
490128    18  130470   364642             2.366129
500565    20  130470   364642             1.183064
1376379   23  130473    96346             1.183064

[77391 rows x 4 columns]

In [7]:
# 막피를 가장 많이 당한 사람이 누굴까
rnd_defen[ rnd_defen['random_defender_cnt'] ==rnd_defen['random_defender_cnt'].max()]

         day  acc_id  char_id  random_defender_cnt
1209205   18   83876   309871           112.391126

In [8]:
# 후보1 
# 하루 타격이 가장 컸던 유저 95번 맞음   112.391126 /1.183064
rnd_defen[ rnd_defen['acc_id'] ==83876]

         day  acc_id  char_id  random_defender_cnt
1270505    4   83876   309871             1.183064
1279829    6   83876   309871             2.366129
1199295   16   83876   309871             1.183064
1204272   17   83876   309871            93.462094
1209205   18   83876   309871           112.391126
1214202   19   83876   309871            48.505644

In [9]:
# 후보2 
# 평균적으로 많이 쳐맞음
# 평균은 쳐맞은 일별 평균

rnd_defen[ rnd_defen['acc_id'] ==123532]

        day  acc_id  char_id  random_defender_cnt
310117   11  123532   353868            89.912901
315330   12  123532   353868            95.828223

346526 유저를 봤을 때 누적이 아니다.

In [10]:
# 쳐맞은 횟수와 타격을 고려한 평균 # 쳐맞은 일별 평균
grp_mean_rnd_defen = rnd_defen.groupby(['acc_id','char_id']).mean()
grp_mean_rnd_defen

                      day  random_defender_cnt
acc_id char_id
8      207949   19.000000             1.183064
17     135044    7.000000             2.366129
20     149667   28.000000             1.183064
31     346526   15.500000             1.774597
38     67497     6.500000             1.183064
43     388134   26.000000             1.183064
53     60446    17.181818             1.505718
54     317400   19.000000             1.183064
62     369719   10.333333             1.183064
67     267831   13.833333             1.380242
69     350040   27.000000             1.183064
81     297398   22.500000             1.183064
91     182545   26.000000             1.183064
       320252   11.666667             1.183064
92     219750   21.000000             2.602742
98     205300    1.000000             1.183064
100    47156    28.000000             1.183064
113    52943    13.000000             1.183064
119    136814    7.833333             1.971774
129    148992   16.666667             1.183064
145    168571   25.000000             1.183064
154    142043   16.000000             2.366129
155    89374     9.600000             2.129516
158    206259   18.000000             1.183064
161    169821   26.000000             1.183064
163    117291   22.000000             2.366129
       179915   16.833333             2.168952
173    247626   18.000000             1.183064
174    142049   13.000000             1.183064
176    131026   13.500000             1.183064
...                   ...                  ...
130342 344996   26.000000             1.183064
130345 284905   10.166667             1.380242
130349 373445   12.000000             3.549193
130354 54178    28.000000             1.183064
130356 56150    13.000000             1.183064
       318206   28.000000             3.549193
130363 328452    8.875000             1.330948
130376 328729   28.000000             1.183064
130391 81082    26.500000             2.366129
130392 312455   22.500000             2.957661
130398 120669   21.000000             1.183064
       155430   23.333333             1.183064
130401 279722   20.000000             2.070363
130403 35017     2.333333             1.971774
       165204   21.250000             1.774597
130405 312566   19.666667             1.183064
       389504   18.000000             1.183064
130408 237182   17.000000             1.183064
130413 360163   11.909091             1.398167
130414 95122     1.000000             1.183064
130447 174980   14.000000             1.183064
130449 211697   27.000000             1.183064
       238395   21.000000             1.183064
130462 274672   12.750000             1.774597
130463 14261    17.500000             2.366129
       292737   23.000000             1.478831
130469 6255     10.000000             1.183064
       143384   20.000000             1.183064
130470 364642   19.000000             1.774597
130473 96346    23.000000             1.183064

[23458 rows x 2 columns]

In [11]:
grp_mean_rnd_defen_dro_day = grp_mean_rnd_defen.drop(columns = 'day')
grp_mean_rnd_defen_dro_day.sort_values('random_defender_cnt',ascending=False)

                random_defender_cnt
acc_id char_id
123532 353868             92.870562
24761  221277             60.730644
15073  89468              50.871773
85944  106222             49.215483
33320  100251             48.801410
30480  114446             48.505644
59866  275342             46.731047
113806 311787             44.660684
83876  309871             43.181854
42127  151539             42.826934
64294  182353             38.055241
95870  104763             35.491935
74798  198282             34.815898
55111  360493             34.308870
7733   302161             32.618778
14271  295886             31.351209
71015  190687             31.266704
27938  264378             29.576612
26519  170677             27.802015
82066  276291             26.196428
30281  277854             26.027419
65218  247842             24.844354
26932  122647             23.266935
79303  177197             22.478225
63278  47084              22.140207
122533 43880              21.633179
115511 257366             21.058548
54360  149828             20.259979
74388  240529             19.964213
10284  396384             19.638870
...                             ...
58092  350924              1.183064
58422  267515              1.183064
58096  232755              1.183064
58099  158596              1.183064
58113  223249              1.183064
58119  153166              1.183064
58140  299148              1.183064
58146  23792               1.183064
       375205              1.183064
58164  91267               1.183064
58185  200335              1.183064
58204  299415              1.183064
58210  65659               1.183064
58216  81473               1.183064
58239  327950              1.183064
58248  246048              1.183064
58255  35989               1.183064
58268  95164               1.183064
58284  238174              1.183064
58320  387875              1.183064
58328  161552              1.183064
58335  334694              1.183064
58358  253342              1.183064
58366  91092               1.183064
       272801              1.183064
58400  373073              1.183064
58406  246532              1.183064
58416  33029               1.183064
58419  123485              1.183064
130473 96346               1.183064

[23458 rows x 1 columns]

In [12]:
# 모든 유저에게 같은 일수로 나누자

In [13]:
# 많이 쳐맞은 사람이 이탈했을까
label = pd.read_csv('BigContest/train_label.csv')

In [14]:
label.dtypes

acc_id             int64
survival_time      int64
amount_spent     float64
dtype: object

In [15]:
label[label['acc_id']==123532]

       acc_id  survival_time  amount_spent
34897  123532             64      0.001542

In [16]:
# 와우 생존

In [17]:
label[label['acc_id']==83876]

       acc_id  survival_time  amount_spent
37579   83876             64           0.0

In [18]:
#와우 이사람도 생존

In [19]:
label[label['acc_id']==130473]

       acc_id  survival_time  amount_spent
21906  130473             64       0.55198

In [20]:
# 뭐지 낮은 사람도 생존

In [21]:
# 총량으로 하자
grp_sum_rnd_defen = rnd_defen.groupby(['acc_id','char_id']).sum().sort_values('random_defender_cnt',ascending=False).drop(columns='day')
grp_sum_rnd_defen

                random_defender_cnt
acc_id char_id
52326  170705            301.681444
85670  318552            263.823380
83876  309871            259.091122
9505   253723            249.626606
120158 77961             248.443542
13635  215770            248.443542
85944  106222            246.077413
74798  198282            243.711284
115690 157477            242.528219
55111  360493            240.162090
1764   56884             234.246768
64294  182353            228.331446
7733   302161            228.331446
71015  190687            218.866930
24358  24609             216.500801
119323 160169            216.500801
42127  151539            214.134672
126008 708               207.036285
49497  194367            207.036285
19890  280262            201.120962
33320  100251            195.205640
30480  114446            194.022576
99742  339398            188.107253
59866  275342            186.924189
123532 353868            185.741124
82066  276291            183.374995
47615  107471            182.191931
24761  221277            182.191931
113806 311787            178.642737
95870  104763            177.459673
...                             ...
65895  157838              1.183064
65913  377435              1.183064
65965  18461               1.183064
65972  112902              1.183064
65975  366488              1.183064
65981  155563              1.183064
65995  73323               1.183064
65513  202083              1.183064
65484  321582              1.183064
65433  386177              1.183064
65296  21205               1.183064
65110  184323              1.183064
65134  149520              1.183064
65137  43619               1.183064
65144  319739              1.183064
65183  330823              1.183064
65254  248674              1.183064
       308119              1.183064
65262  35692               1.183064
65310  5074                1.183064
65424  123932              1.183064
65318  113909              1.183064
65373  72537               1.183064
65374  47586               1.183064
65385  142156              1.183064
65393  174098              1.183064
65400  124009              1.183064
65401  377642              1.183064
65409  136327              1.183064
130473 96346               1.183064

[23458 rows x 1 columns]

In [22]:
# 새로운 인물 등장

In [23]:
label[label['acc_id']==52326]

       acc_id  survival_time  amount_spent
25066   52326             64           0.0

In [24]:
#오 대박 생존

In [25]:
sum_mrg= pd.merge(grp_sum_rnd_defen,label, how = 'inner', on = 'acc_id').sort_values('random_defender_cnt',ascending=False).drop(columns='amount_spent')

sum_mrg

       acc_id  random_defender_cnt  survival_time
0       52326           301.681444             64
1       85670           263.823380             36
3       83876           259.091122             64
4        9505           249.626606             36
7      120158           248.443542             15
8       13635           248.443542             64
9       85944           246.077413             64
10      74798           243.711284             64
11     115690           242.528219              8
12      55111           240.162090             64
13       1764           234.246768             64
14      64294           228.331446             64
15       7733           228.331446             64
16      71015           218.866930             64
18     119323           216.500801             64
17      24358           216.500801             64
19      42127           214.134672             64
20     126008           207.036285             64
21      49497           207.036285             64
22      19890           201.120962             22
23      33320           195.205640             64
24      30480           194.022576             64
25      99742           188.107253             64
26      59866           186.924189             64
27     123532           185.741124             64
28      82066           183.374995             64
29      47615           182.191931             64
30      24761           182.191931             64
31     113806           178.642737             64
32      95870           177.459673             64
...       ...                  ...            ...
18243  128156             1.183064             64
18244  112055             1.183064             36
18259  118964             1.183064             64
18271  101289             1.183064             64
18270  128408             1.183064             64
18269  101134             1.183064             64
18268  123908             1.183064             58
18267  115732             1.183064             64
18266  123912             1.183064             64
18265  107739             1.183064             64
18264  115718             1.183064              6
18263  112093             1.183064             64
18262  128026             1.183064              3
18261  115710             1.183064             64
18260  128021             1.183064             55
18258  112097             1.183064             39
18245  101131             1.183064             64
18257  107700             1.183064             64
18256  118938             1.183064             64
18255  128058             1.183064             64
18254  107741             1.183064             64
18253  107741             1.183064             64
18252  101036             1.183064             64
18251  112042             1.183064             23
18250  112044             1.183064             30
18249  107764             1.183064             64
18248  115783             1.183064             23
18247  118896             1.183064             64
18246  101088             1.183064             16
23457  130473             1.183064             64

[23458 rows x 3 columns]

In [26]:

rdm_defcnt=sum_mrg[['random_defender_cnt']]
rdm_defcnt

       random_defender_cnt
0               301.681444
1               263.823380
3               259.091122
4               249.626606
7               248.443542
8               248.443542
9               246.077413
10              243.711284
11              242.528219
12              240.162090
13              234.246768
14              228.331446
15              228.331446
16              218.866930
18              216.500801
17              216.500801
19              214.134672
20              207.036285
21              207.036285
22              201.120962
23              195.205640
24              194.022576
25              188.107253
26              186.924189
27              185.741124
28              183.374995
29              182.191931
30              182.191931
31              178.642737
32              177.459673
...                    ...
18243             1.183064
18244             1.183064
18259             1.183064
18271             1.183064
18270             1.183064
18269             1.183064
18268             1.183064
18267             1.183064
18266             1.183064
18265             1.183064
18264             1.183064
18263             1.183064
18262             1.183064
18261             1.183064
18260             1.183064
18258             1.183064
18245             1.183064
18257             1.183064
18256             1.183064
18255             1.183064
18254             1.183064
18253             1.183064
18252             1.183064
18251             1.183064
18250             1.183064
18249             1.183064
18248             1.183064
18247             1.183064
18246             1.183064
23457             1.183064

[23458 rows x 1 columns]

In [27]:

srv_tm=sum_mrg[['survival_time']]
srv_tm

       survival_time
0                 64
1                 36
3                 64
4                 36
7                 15
8                 64
9                 64
10                64
11                 8
12                64
13                64
14                64
15                64
16                64
18                64
17                64
19                64
20                64
21                64
22                22
23                64
24                64
25                64
26                64
27                64
28                64
29                64
30                64
31                64
32                64
...              ...
18243             64
18244             36
18259             64
18271             64
18270             64
18269             64
18268             58
18267             64
18266             64
18265             64
18264              6
18263             64
18262              3
18261             64
18260             55
18258             39
18245             64
18257             64
18256             64
18255             64
18254             64
18253             64
18252             64
18251             23
18250             30
18249             64
18248             23
18247             64
18246             16
23457             64

[23458 rows x 1 columns]

In [28]:
srv_tm['survival_time']

0        64
1        36
3        64
4        36
7        15
8        64
9        64
10       64
11        8
12       64
13       64
14       64
15       64
16       64
18       64
17       64
19       64
20       64
21       64
22       22
23       64
24       64
25       64
26       64
27       64
28       64
29       64
30       64
31       64
32       64
         ..
18243    64
18244    36
18259    64
18271    64
18270    64
18269    64
18268    58
18267    64
18266    64
18265    64
18264     6
18263    64
18262     3
18261    64
18260    55
18258    39
18245    64
18257    64
18256    64
18255    64
18254    64
18253    64
18252    64
18251    23
18250    30
18249    64
18248    23
18247    64
18246    16
23457    64
Name: survival_time, Length: 23458, dtype: int64

In [29]:
grp_df = pd.DataFrame({'survival_time':srv_tm['survival_time'], 'random_defender_cnt':rdm_defcnt['random_defender_cnt']})

In [30]:
grp_df.plot.scatter(x='survival_time',y='random_defender_cnt')

In [31]:
# 10일 살았던 사람이나, 15일 살았던 사람이나, 30일 살았던 사람이나, 40일 살았던 사람이나 맞은 횟수는 비슷하다.
#오히려 64일 이상 생존했던 사람들이 많이 맞았다
#그만큼 많이 때렸겠지?
# 서로 때리며 다독이는 걸까

-------------------------------------------------------------------------------
--------------------------------------------------------------------------------

# 모든 변수들과 생존일 Corr()

In [54]:
combat.corr()

,day,acc_id,char_id,class,level,pledge_cnt,random_attacker_cnt,random_defender_cnt,temp_cnt,same_pledge_cnt,etc_cnt,num_opponent
day,1.000000,-0.000261,0.001296,0.003640,0.008160,0.004368,0.000181,0.003016,0.002980,-0.026159,-0.002408,0.000427
acc_id,-0.000261,1.000000,-0.002049,-0.002835,-0.003309,-0.000439,0.001797,-0.001280,-0.000167,0.000672,0.002673,0.002151
char_id,0.001296,-0.002049,1.000000,-0.006814,0.003334,-0.003199,0.003306,0.001459,-0.002165,0.000530,0.005881,-0.000752
class,0.003640,-0.002835,-0.006814,1.000000,-0.005440,0.012492,0.003114,0.003799,0.002119,0.004602,0.017178,0.023045
level,0.008160,-0.003309,0.003334,-0.005440,1.000000,0.116130,0.032739,0.085389,0.041260,0.037253,0.112814,0.170594
pledge_cnt,0.004368,-0.000439,-0.003199,0.012492,0.116130,1.000000,0.026830,0.029669,0.006668,0.056612,0.192308,0.853163
random_attacker_cnt,0.000181,0.001797,0.003306,0.003114,0.032739,0.026830,1.000000,-0.006448,-0.003371,0.018152,-0.008527,0.132736
random_defender_cnt,0.003016,-0.001280,0.001459,0.003799,0.085389,0.029669,-0.006448,1.000000,0.010615,0.003205,0.030314,0.049738
temp_cnt,0.002980,-0.000167,-0.002165,0.002119,0.041260,0.006668,-0.003371,0.010615,1.000000,0.003694,-0.004306,0.012463
same_pledge_cnt,-0.026159,0.000672,0.000530,0.004602,0.037253,0.056612,0.018152,0.003205,0.003694,1.000000,0.034748,0.078746
etc_cnt,-0.002408,0.002673,0.005881,0.017178,0.112814,0.192308,-0.008527,0.030314,-0.004306,0.034748,1.000000,0.453074
num_opponent,0.000427,0.002151,-0.000752,0.023045,0.170594,0.853163,0.132736,0.049738,0.012463,0.078746,0.453074,1.000000

In [51]:
result =pd.merge(combat,label,how='inner',on='acc_id').corr()
result
result.corr()[['survival_time']]#combat

                     survival_time
day                      -0.103886
acc_id                   -0.061285
char_id                  -0.064777
class                    -0.144124
level                    -0.256310
pledge_cnt               -0.009303
random_attacker_cnt      -0.060142
random_defender_cnt      -0.154306
temp_cnt                 -0.059867
same_pledge_cnt          -0.064194
etc_cnt                  -0.104658
num_opponent             -0.050153
survival_time             1.000000
amount_spent             -0.235635

In [34]:
print(type(result))

<class 'pandas.core.frame.DataFrame'>

In [35]:
# combat = pd.read_csv('BigContest/train_combat.csv')
# combat = pd.read_csv('BigContest/train_combat.csv')
# label

payment = pd.read_csv('BigContest/train_payment.csv')
pledge = pd.read_csv('BigContest/train_pledge.csv')
trade = pd.read_csv('BigContest/train_trade.csv')

In [36]:
result2 = pd.merge(payment,label,how='inner',on='acc_id').corr()

In [37]:
result3 = pd.merge(pledge,label,how='inner',on='acc_id').corr()

In [38]:
trade = trade.rename(columns={"source_acc_id": "acc_id"})

In [39]:
result4 = pd.merge(trade,label,how='inner',on='acc_id').corr()

In [50]:
result2.corr()[['survival_time']] #payment

                survival_time
day                 -0.238705
acc_id              -0.196101
amount_spent_x      -0.138672
survival_time        1.000000
amount_spent_y      -0.534900

In [49]:
result3.corr()[['survival_time']] #pledge

                      survival_time
day                       -0.086640
acc_id                    -0.048787
char_id                   -0.057688
pledge_id                 -0.039532
play_char_cnt             -0.231451
combat_char_cnt           -0.232013
pledge_combat_cnt         -0.026702
random_attacker_cnt       -0.090111
random_defender_cnt       -0.219469
same_pledge_cnt           -0.082345
temp_cnt                  -0.145816
etc_cnt                   -0.206277
combat_play_time          -0.249348
non_combat_play_time      -0.137635
survival_time              1.000000
amount_spent              -0.199271

In [48]:
result4.corr()[['survival_time']] #trade

                survival_time
day                 -0.118853
type                -0.144950
acc_id              -0.099456
source_char_id      -0.088458
target_acc_id       -0.108084
target_char_id      -0.116500
item_amount         -0.070580
item_price          -0.070351
survival_time        1.000000
amount_spent        -0.295903

In [43]:
activity = pd.read_csv('BigContest/train_activity.csv')
result5 =pd.merge(activity,label,how='inner',on='acc_id').corr()

In [52]:
result5.corr()[['survival_time']] # act

                   survival_time
day                    -0.058690
acc_id                 -0.051412
char_id                -0.055006
playtime                0.042904
npc_kill               -0.077826
solo_exp               -0.258229
party_exp              -0.237887
quest_exp              -0.191174
boss_monster           -0.019900
death                  -0.142992
revive                 -0.138047
exp_recovery           -0.080787
fishing                 0.093602
private_shop            0.217359
game_money_change      -0.058131
enchant_count          -0.060305
survival_time           1.000000
amount_spent           -0.213509